
.img-wrapper{
    display: inline-block;
    margin:5px;  
	width: 200px;
	height:200px;
	border: 3px solid black;
position: relative;
}

.img-holder{
    width:200px;
    height:200px;
    display:table-cell;
    vertical-align: middle;

 }

img{
	max-width: 200px;
	max-height: 200px;
	display:table-cell;
margin:0 auto;
}

.img-text {
position: absolute;
right: 0px;
bottom:0px;
}
.wrapper {
display: inline-block;
}
.pad-align {padding:5px; font-weight:bold}
